n8n-workflows/property-evaluator-workflow.json
{
  "name": "Property Evaluator",
  "description": "Analyzes rental listings and scores them based on user preferences and market data",
  "nodes": [
    {
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "property_evaluator",
      "parameters": {
        "path": "property-evaluator",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      }
    },
    {
      "name": "Extract Listing Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [500, 300],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "listing_id",
              "stringValue": "={{$json.listing_id}}"
            },
            {
              "name": "user_id",
              "stringValue": "={{$json.user_id}}"
            },
            {
              "name": "price",
              "stringValue": "={{$json.price}}"
            },
            {
              "name": "address",
              "stringValue": "={{$json.address}}"
            }
          ]
        }
      }
    },
    {
      "name": "Get User Preferences",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [750, 200],
      "parameters": {
        "method": "GET",
        "url": "http://backend:8000/api/users/{{$node['Extract Listing Data'].json.user_id}}/profile",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.API_TOKEN}}"
            }
          ]
        }
      }
    },
    {
      "name": "Evaluate Location",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [750, 400],
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/evaluators/location",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "address",
              "value": "={{$node['Extract Listing Data'].json.address}}"
            },
            {
              "name": "user_preferences",
              "value": "={{$node['Get User Preferences'].json}}"
            }
          ]
        }
      }
    },
    {
      "name": "Calculate Price Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 400],
      "parameters": {
        "jsCode": "const price = parseInt($node['Extract Listing Data'].json.price);\nconst prefs = $node['Get User Preferences'].json;\nconst minBudget = prefs.min_budget || 1000;\nconst maxBudget = prefs.max_budget || 3000;\n\nlet priceScore = 0;\nif (price < minBudget) {\n  priceScore = 100; // Below budget, great deal\n} else if (price <= maxBudget) {\n  priceScore = 80 + ((maxBudget - price) / (maxBudget - minBudget) * 20); // Within budget\n} else {\n  priceScore = Math.max(0, 100 - ((price - maxBudget) / maxBudget * 50)); // Over budget\n}\n\nreturn {\n  price: price,\n  min_budget: minBudget,\n  max_budget: maxBudget,\n  price_score: Math.round(priceScore)\n};"
      }
    },
    {
      "name": "Combine Scores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300],
      "parameters": {
        "jsCode": "const priceData = $node['Calculate Price Score'].json;\nconst locationData = $node['Evaluate Location'].json;\n\nconst priceScore = priceData.price_score || 0;\nconst locationScore = locationData.location_score || 0;\nconst amenitiesScore = locationData.amenities_score || 0;\nconst commutScore = locationData.commute_score || 0;\n\nconst weights = {\n  price: 0.3,\n  location: 0.25,\n  amenities: 0.25,\n  commute: 0.2\n};\n\nconst aiScore = Math.round(\n  (priceScore * weights.price) +\n  (locationScore * weights.location) +\n  (amenitiesScore * weights.amenities) +\n  (commutScore * weights.commute)\n);\n\nreturn {\n  listing_id: $node['Extract Listing Data'].json.listing_id,\n  ai_score: Math.min(100, Math.max(0, aiScore)),\n  price_score: priceScore,\n  location_score: locationScore,\n  amenities_score: amenitiesScore,\n  commute_score: commutScore,\n  evaluation_timestamp: new Date().toISOString()\n};"
      }
    },
    {
      "name": "Save Evaluation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1500, 300],
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/listings/{{$node['Combine Scores'].json.listing_id}}/evaluate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ai_score",
              "value": "={{$node['Combine Scores'].json.ai_score}}"
            },
            {
              "name": "evaluation_details",
              "value": "={{$node['Combine Scores'].json}}"
            }
          ]
        }
      }
    },
    {
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 3,
      "position": [1750, 300],
      "parameters": {
        "responseData": "first"
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{"node": "Extract Listing Data", "type": "main", "index": 0}]]
    },
    "Extract Listing Data": {
      "main": [[
        {"node": "Get User Preferences", "type": "main", "index": 0},
        {"node": "Evaluate Location", "type": "main", "index": 0}
      ]]
    },
    "Get User Preferences": {
      "main": [[{"node": "Calculate Price Score", "type": "main", "index": 0}]]
    },
    "Evaluate Location": {
      "main": [[{"node": "Calculate Price Score", "type": "main", "index": 0}]]
    },
    "Calculate Price Score": {
      "main": [[{"node": "Combine Scores", "type": "main", "index": 0}]]
    },
    "Combine Scores": {
      "main": [[{"node": "Save Evaluation", "type": "main", "index": 0}]]
    },
    "Save Evaluation": {
      "main": [[{"node": "Send Response", "type": "main", "index": 0}]]
    }
  }
}
